body {
    margin: 0;
}
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin: 0;
    padding: 20px;
}
#asdf ul {
    border-right: 1px solid gray;
    width: 50px;
    margin: 0;
    padding: 7px;
    padding-left: 30px;
    padding-top: 15px;
}
#asdf {
    display: grid;
    grid-template-columns: 80px 1fr;
}
#asd {
    padding: 10px;
    padding-left: 15px;
}
h2 {
    margin: 5px;
}
p {
    margin: 10px;
}
@media(max-width: 650px) {
    #asdf{
        display: block;
    }
    #asdf ul {
        border-right: none;
    }
    h1 {
        border-bottom: none;
    }
}